/* start variable */
:root {
  --main-color: #10cab7;
}
/* start global rules */
* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "work Sans", sans-serif;
  /* background-color: rgb(0, 0, 0); */
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* Start Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
/* ajustement  de la taille du logo */
.logo {
  width: 120px;
}

/* création de l'icone manuellemnet  */

header .links {
  position: relative;
}
header .links .icon:hover span:nth-child(2) {
  width: 100%;
}

header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/*  test sur la transition 
header .links .para {
  background-color: white;
  width: 400px;
  height: 200;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-property: margin-left, margin-top;
}
header .links .para:hover {
  margin-left: 20px;
  margin-top: 20px;
  width: 600px;
} */

header .links .icon span {
  background-color: rgba(23, 149, 9, 0.909);
  margin-bottom: 5px;
  height: 2px;
}

header .links .icon span:first-child {
  width: 100%;
}

header .links .icon span:nth-child(2) {
  width: 50%;
  transition: 0.3s;
}

header .links .icon span:last-child {
  width: 100%;
}

header .links ul {
  list-style: none;
  margin: 0px;
  position: absolute;
  right: 0px;
  background-color: #f6e8dfe4;
  padding: 31px;
  width: 15em;
  display: none;
  z-index: 1;
}

header .links ul::before {
  /* le les links  ne sont pas affichés  */
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: red green blue black;
  position: absolute;
  right: 5px;
  top: 0px;
}

header .links:hover ul {
  display: block;
}

header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none; /* text decoration pour enlver le surlignment*/
  color: rgb(12, 10, 10);
  transition: 0.5s;
}

header .links ul li a:hover {
  padding-left: 25px;
}

header .links ul li:not(:last-child) a {
  border-bottom: 1px solid rgb(186, 75, 6);
}

.landing {
  background-image: url(../Photos/photo-bouarfa-figuig/juli-kosolapova-Us_dv71f1bc-unsplash.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  margin-left: 15px;
  height: calc(100vh - 110px);
  position: relative;
}
.landing .intro-text {
  position: absolute; /* absolute par raport a la page web , mais si en met son parent en postion relative , il sera absolute par raport a son parent  */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

/* End landing section  */

/* start features */
.features{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color:

}
.features .container {
  display: flex;
}
